@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    @font-face {
        font-family: Montserrat;
        src: url('../assets/fonts/Montserrat-Regular.ttf');
    }

    @font-face {
        font-family: Vezla;
        src: url('../assets/fonts/Vezla.ttf');
    }

    @font-face {
        font-family: Rajdhani;
        src: url('../assets/fonts/Rajdhani-Regular.ttf');
    }

}

* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Montserrat; 
}

h1,h2,h3,h4,h5,.font-headers {
    font-family: Vezla;
}

.font-subheader{
    font-family: Rajdhani;
}

/* --- Navbar --- */

.navbar{
    @apply flex flex-row items-center bg-blue-800 rounded-br-xl shadow-md;
    height:60px;
    width: calc(100% - 10px);
}

.mobileNav{
    @apply bg-blue-800 rounded-r-xl shadow-md;
    position:fixed;
    height: calc(100% - 80px);
    top: 70px;
    width: calc(100% - 10px);
    max-width: 400px;
    transition: ease-in-out 0.3s;
}

@media only screen and (min-width: 768px) {

 .navbar{
    height: 80px ;
 }

}

.mobileNavOpen{
    left: 0;
}

.mobileNavClosed{
    left: calc(-100% - 10px);
}

.header, .subHeader{
    line-height:0.5;
}